<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Punish</title>
    <!--<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">-->
    <link rel="stylesheet" href="../static/css/style_w3css.css">
    <link rel="stylesheet" href="../static/css/my_style.css">
    <!--<link rel="stylesheet" href="my_style.css" type="text/css"/>-->
    <script src="https://www.w3schools.com/lib/w3data.js"></script>

</head>
<body>
    <div class="w3-container">
        <div class="w3-row-padding">
            <div class="w3-third w3-margin-top w3-margin-bottom">
                <div class="w3-cyan w3-round-xxlarge w3-justify w3-padding">
                    <div class="w3-white w3-round-xxlarge">
                        <p class="font1">Funny</p>
                    </div>
                    <div class="font1 w3-border w3-opacity w3-hover-opacity-off w3-round-xxlarge w3-content w3-padding">
                        <div id="id01">
                            {{firstName}} {{lastName}}
                        </div>
                        <script>
                            w3DisplayData("id01", {"firstName" : "John", "lastName" : "Doe"});
                        </script>
                        <!--<p>This ing to think up a dog to think up a domain ning to think up a domain nameThis ing to think up a dog to think up a domain ning </p>-->
                    </div>
                </div>
            </div>
            <div class="w3-third w3-margin-top w3-margin-bottom">
                <div class="w3-black w3-round-xxlarge w3-justify w3-padding" >
                    <div>
                        <p class="font1">Dangerous</p>
                    </div>
                    <div class="w3-black w3-border w3-opacity w3-hover-opacity-off w3-round-xxlarge w3-content w3-padding">
                        <p>{{ ideas }}</p>
                    </div>
                </div>
            </div>
            <div class="w3-third w3-margin-top w3-margin-bottom">
                <div class="w3-justify w3-orange w3-round-xxlarge w3-padding" >
                    <div class="w3-white w3-round-xxlarge">
                        <p class="font1">Interesting</p>
                    </div>
                    <div class="w3-orange w3-border w3-opacity w3-hover-opacity-off w3-round-xxlarge w3-content w3-padding">
                        <p>This ing to think up a dog to think up a domain ning to think up a domain nameThis ing to think up a dog to think up a domain ning </p>
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="w3-container w3-center">
        <button class="w3-btn w3-border w3-border-black  button1 font1">Punish</button>
    </div>
<div>
        <div>
            <p>{{ ideas }}</p>
        </div>
</div>

    <div class="divother">
        <a href="#hiiii" class="w3-btn w3-black w3-round-xxlarge buttonabout">
            <p style="font: 'Old English Text MT'; font-size: 0.8em">
                About
            </p>
        </a>
        <a href="#" class="w3-btn w3-black w3-round-xxlarge buttonrule">Rule</a>
    </div>
    <div style="height: 1000px;" id="hiiii">

    </div>
</body>
</html>